.html {
  box-sizing: border-box;
  width: 1600px;
}
/* *,
*::before,
*::after{box-sizing: inherit;} */
.main {
  width: 1600px;
}
/* main text colour */
:root {
  --primary-text-colour: #212121;
  --hero-colour: #ffffff;
  --secondary-text-colour: #757575;
  --accent-colourbackground: #2196f3;
  --backgr-alt-color: #f5f4fa;
}
/* BODY */
.body {
  font-family: Roboto, sans-serif;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 32px;
  margin-right: 0;
  padding-right: 0;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 114.2%;
  letter-spacing: 0.02em;
  color: var(--primary-text-colour);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

----------- /* Хедер */------------------


.nav-list:last-child {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link-item:last-child {
  margin-right: 0;
}

.nav-lis:last-child {
  margin-right: 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: inline-block;
  display: flex;
  align-items: center;
}

.logo-header {
  display: inline-block;
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 119.2%;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-header:hover,
.logo-header:focus {
  text-decoration: underline;
}

.logo-second-color {
  color: var(--primary-text-colour);
}

.nav-list {
  display: block;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  align-items: center;
  text-align: center;
  padding-left: 0;
  list-style: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-colour);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-colourbackground);
}

.nav-list li a {
  text-decoration: none;
}

.nav-link-item {
  margin-left: 0;
  margin-right: 50px;

  text-decoration: none;
  color: var(--primary-text-colour);
}

.nav-link-item-current {
  margin-left: 0;
  margin-right: 50px;
  text-decoration: none;
  color: var(--accent-colourbackground);
}
.nav-link-item:hover,
.nav-link-item:focus {
  color: var(--accent-colourbackground);
}
.nav-contact-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 114.2%;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.current {
  color: var(--accent-colourbackground);
}
.nav-contact-item:hover,
.nav-contact-item:focus {
  color: var(--accent-colourbackground);
}

.nav-contact-item:hover .contact-icon {
  fill: var(--accent-colourbackground);
}

.nav-contact-link {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  margin-left: auto;
}
.nav-contact-link li + li {
  margin-left: 50px;
}
.nav-contact-link.list {
  display: flex;
  align-items: center;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10px; */
}
.contact-icon {
  fill: #afb1b8;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.contact-pic {
  margin-right: 10px;
  width: 16px;
  height: 12px;
}
.contact-pic.tel {
  width: 10px;
  height: 16px;
}
/* .contact::before {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: 16px;
  height: 12px;
}
.contact.mail::before {
  margin-right: 10px;
  background-image: url(../images/envelope.svg);
}

.contact.tel::before {
  height: 16px;
  margin-right: 10px;
  background-image: url(../images/Vector.svg);
} */

/* ---------------------Секция ХЕРО------------------ */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 696px;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-colour);
}
.hero-button {
  margin-top: 30px;
  border-radius: 4px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  color: var(--hero-colour);
  background-color: var(--accent-colourbackground);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*--------------Преимущества-------------- */

.advantages .container {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-item {
  width: 270px;
  margin-right: 30px;
}
.advantage-item:last-child {
  margin-right: 0;
}

.advantage-item li {
  margin-right: 50px;
}

.advantage-list {
  list-style: none;
  display: flex;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 114.2%;
  letter-spacing: 0.03em;
  color: var(--primary-text-colour);
}
.item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171.4%;
  letter-spacing: 0.03em;
  color: var(--secondary-text-colour);
}
.item-text:last-child {
  padding: 0;
  margin: 0%;
}

.advantage-item::before {
  display: block;
  content: "";
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.advantage-item.details::before {
  background-image: url(../images/antenna\ 1.png);
}

.advantage-item.punctuality::before {
  background-image: url(../images/clock\ 1.png);
}

.advantage-item.planning::before {
  background-image: url(../images/diagram\ 1.png);
}

.advantage-item.technologies::before {
  background-image: url(../images/astronaut\ 1.png);
}

/*--------------------- чем мы занимаемся--------------------- */

.whatwedo {
  display: block;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
}

h2 .whatwedo-section {
  display: inline-block;
  margin-top: 0;
  padding-top: 0;
}

.whatwedo-item {
  margin-right: 30px;
  text-decoration: none;
  display: block;
}
.whatwedo-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0px;
}
.whatwedo-list :nth-child(3n) {
  margin-right: 0;
}

.whatwedo-section {
  /* padding-top: 94px; */
  padding-bottom: 94px;
}

.whatwedo-item img {
  display: block;
}
/*--------------------- НАША КОМАНДА----- ----------------*/

.team-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.team {
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--backgr-alt-color);
}

.team-person-card {
  display: block;
  text-align: center;
  margin-right: 30px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-person-card img {
  display: block;
}

.team-person-card div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-person-card:nth-child(4n) {
  margin-right: 0;
}
.our-team {
  margin-top: 0px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 116%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.member {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  color: var(--primary-text-colour);
}

.member-proffesion {
  margin-top: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 118%;
  letter-spacing: 0.03em;
  color: var(--secondary-text-colour);
}

.soc-pics {
  padding-left: 0;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.sp-button {
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  margin-right: 10px;
  padding: 0;
  margin: 0;
  width: 44px;
}

.sp-button:hover {
  background-color: var(--accent-colourbackground);
}

.sp-button:hover .sp-button-icon {
  fill: white;
}

.sp-button:last-child {
  margin-right: 0;
}

.sp-button-icon {
  fill: #afb1b8;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* --------------------------- ПОСТОЯННЫЕ КЛИЕНТЫ------------------------- --*/

.usually-clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 116%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  /* background-color: teal; */
}

.clients-list {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.clients-list li {
  margin-right: 30px;
}

.clients-list li:last-child {
  margin-right: 0;
}

/* .client::before {
  display: block;
  content: "";
  width: 170px;
  height: 92px;

  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client.first::before {
  background-image: url(../images/clients/Logo1.svg);
}

.client.second::before {
  background-image: url(../images/clients/Logo\ 2.svg);
}

.client.third::before {
  background-image: url(../images/clients/Logo\ 3.svg);
}

.client.fourth::before {
  background-image: url(../images/clients/Logo\ 4.svg);
}

.client.fifth::before {
  background-image: url(../images/clients/Logo\ 5.svg);
}

.client.sixth::before {
  background-image: url(../images/clients/Logo\ 6.svg);
} */

/* ---------========-----Портфолио --------========------*/

.portfolio-link {
  border: 1px #eeeeee;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 56px;
  padding-left: 0;
}
.portfolio-buttons-list {
  display: inline-block;
  text-decoration: none;
  align-items: center;
  margin-left: 8px;
}

.portfolio-buttons-list:first-child {
  margin-left: 0;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-buttons {
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border-color: transparent;
  padding: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: var(--primary-text-colour);
  background-color: #f5f4fa;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background-color: var(--accent-colourbackground);
  color: var(--hero-colour);
}

.uniqe-case {
  margin-top: 0;
  margin-bottom: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  color: #212121;
  letter-spacing: 0.06em;
}

.portfolio-link {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}
.item a {
  width: 0px;
  height: 0px;
}

.portfolio-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.uniqe-case-topic {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.uniqe-case-topic:last-child {
  margin: 0;
  padding: 0;
}

.portfolio-cards .item {
  margin-bottom: 30px;
}

.portfolio-cards .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-cards {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.client {
  display: flex;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  /* height: 25px;
  width: 25px; */
}
.client-image {
  display: block;
  width: 170px;
  height: 92px;
}
.client-image:hover .client-icon {
  fill: #2196f3;
}

.client-icon {
  fill: #afb1b8;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  width: 106px;
  height: 60px;
}

.client-pic {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-pic {
  display: block;
}
*/ .port-img {
  display: block;
}

.portfolio-cards :nth-child(3n) {
  margin-right: 0;
}

.portfolio-cards :nth-child(7n) {
  margin-bottom: 0;
}

.portfolio-cards :nth-child(8n) {
  margin-bottom: 0;
}
.portfolio-cards :nth-child(9n) {
  margin-bottom: 0;
}

.portfolio-cards li {
  width: 370px;
  margin-right: 30px;
}
*/

/*-====================-=-=-= футер-====================-=-=-= */

.logo-footer {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 119%;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-footer:hover {
  text-decoration: underline;
}
.logo-footer:focus {
  text-decoration: underline;
}
.logo-main-color {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: #2196f3;
}

.footer-links a{
  text-decoration: none;
}
.logo-footer-color {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: white;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  text-decoration: none;
}
.footer-links {
  margin-right: 70px;
}
.adress {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #ffffff;
}
.footer .list {
  display: block;
  margin-top: 20px;
  margin-bottom: 0px;
}
.contact-links {
  margin-top: 9px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc-links h2 {
  margin-top: 12px;
  margin-bottom: 20px;
  color: white;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
  width: 300px;
}
.footer-elements {
  display: flex;
}

.footer-svg {
  fill: white;
  padding: 0;
  margin: 0;

  width: 20px;
  height: 20px;
  cursor: pointer;
}
.footer-soc-link {
  display: flex;
  background-color: rgba(100, 100, 100, 0.1);

  width: 44px;
  height: 44px;
  border-radius: 50%;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: none;

  padding: 0;
  margin: 0;
  width: 44px;
}
.footer-soc-link:hover {
  background-color: var(--accent-colourbackground);
}

.soc-footer:last-child {
  margin-right: 0;
}
.soc-footer {
  margin-right: 10px;
}
